{% extends "layout.html" %}
{% load static %}

{% block page_title %}AIplanner{% endblock page_title %}

{% block css %}

.zth-main .zth-left-block {
padding: 0;
}

.zth-main .zth-title {
text-align: center;
}

{% endblock css %}

{% block content %}

<!-- 主要页面 -->
<div class="row zth-main">
    <!-- 左侧功能栏 -->
    <div class="col-md-2 bg-white zth-left-block">
        <h2 class="zth-title">功能连接</h2>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action ">这边是一些功能</a>
            <a href="https://chat.openai.com/" class="list-group-item list-group-item-action"
                target="_blank">比如chatGPT链接</a>
            <a href="#" class="list-group-item list-group-item-action">比如一些用户可以添加的快捷网址之类的吧</a>
        </div>
    </div>
    <!-- 中间待办栏 -->
    <div class="col-md-7 bg-primary-subtle">
        <h2 class="zth-title">待办清单</h2>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action">清单捏，提供跳转</button>
            <button type="button" class="list-group-item list-group-item-action">跳转到哪再说</button>
          </div>
    </div>
    <!-- 右侧信息栏 -->
    <div class="col-md-3 bg-warning-subtle">
        <p>展示用户个人信息的地方</p>
        <p>比如用户名之类的账号信息</p>
    </div>
</div>

{% endblock content %}