{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>{% block page_title %}{% endblock page_title %}</title>

    <link rel="stylesheet" href='{% static "plugins/bootstrap-5.3.0-alpha1\css\bootstrap.css" %}'>
    <link rel="stylesheet" href="static/plugins/font-awesome-4.7.0/css/font-awesome.css">

    <style>
        body {
            margin: 0;
        }

        /* 去除导航栏圆角 */
        .navbar {
            border-radius: 0;
        }

        .zth-main {
            margin: 0;
            margin-top: 56px;
            /* 56px是上面导航栏的高度 */
            width: 100%;
            height: 100vh;
        }

    {% block css %}{% endblock css %}

    </style>

</head>

<body class="clearfix">
    <!-- 导航栏 -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">导航</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">主页</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">愿景输入</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">OKR</a>
              </li>  
              <li class="nav-item">
                <a class="nav-link" href="#">计划</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  其他
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

    {% block content %}{% endblock content %}
    <script src='{% static "plugins\bootstrap-5.3.0-alpha1\js\bootstrap.bundle.js" %}'></script>
    <script src='{% static "plugins\jquery-3.7.1.js" %}'></script>

    <script>

    {% block js %}{% endblock js %}
    
    </script>


</body>

</html>