{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>{% block page_title %}{% endblock page_title %}</title>

    <link rel="stylesheet" href='{% static "plugins/bootstrap-5.3.0-alpha1\css\bootstrap.css" %}'>
    <script src='{% static "plugins\bootstrap-5.3.0-alpha1\js\bootstrap.bundle.js" %}'></script>
    <script src='{% static "plugins\jquery-3.7.1.js" %}'></script>

    <style>
        body {
            margin: 0;
        }

        .zth-nav-bar {
            position: fixed;
            left: 0px;
            right: 0px;
            top: 0px;
            z-index: 100;
        }

        .zth-main {
            margin: 0;
            margin-top: 56px;
            /* 56px是上面导航栏的高度 */
            width: 100%;
            height: 100vh;
        }

    {% block css %}{% endblock css %}

    </style>



</head>

<body class="clearfix">
    <!-- 导航栏 -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary zth-nav-bar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">主页 version1.0</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            愿景
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/vision/manage">愿景管理</a></li>
                            <li><a class="dropdown-item" href="/vision/create">愿景创建</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            计划
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/okr">OKR管理</a></li>
                            <li><a class="dropdown-item" href="/milestone">Milestone管理</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/schedule">日程表</a>
                    </li>
                    <nav class="navbar bg-body-tertiary">

                    </nav>
                </ul>
                <ul class="navbar-nav navbar-right mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">登录</a>
                    </li>
                    <nav class="navbar bg-body-tertiary">
                    </nav>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock content %}

    <script>

    {% block js %}{% endblock js %}
    
    </script>


</body>

</html>