{% extends "layout.html" %}

{% block page_title %}登录{% endblock page_title %}

{% block css %}

.zth-pannel {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 500px;
    height: 350px;
    border: 2px solid black;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #aaa;
    background-color:bisque;
}

.zth-pannel h1 {
    text-align: center;
    margin-top: 10px;
}

.zth-pannel button {
    margin: 20px;
}

{% endblock css %}

{% block content %}

<div class="zth-pannel">
    <div>
        <h1>用户登录</h1>
    </div>
    <div>
        <form onsubmit="return validateForm()">
            <div class="mb-3">
                <label for="user_name" class="form-label">用户名</label>
                <input type="text" class="form-control" id="user_name" placeholder="请输入用户名">
            </div>
            <div class="mb-3">
                <label for="user_pwd" class="form-label">密码</label>
                <input type="password" class="form-control" id="user_pwd" placeholder="请输入密码">
            </div>
            <div class="mb-3" style="text-align: center">
                <button type="submit" class="btn btn-primary">登 录</button>
            </div>
        </form>            
    </div>
</div>

{% endblock content %}

{% block js %}

function validateForm() {
    var userName = document.getElementById("user_name").value;
    var userPwd = document.getElementById("user_pwd").value;

    if (userName.trim() === "") {
        alert("用户名不能为空");
        return false; // 阻止表单提交
    }

    if (userName.length > 32) {
        alert("用户名长度不能超过32位");
        return false; // 阻止表单提交
    }

    if (userPwd.trim() === "") {
        alert("密码不能为空");
        return false; // 阻止表单提交
    }

    if (userPwd.length > 32) {
        alert("密码长度不能超过32位");
        return false; // 阻止表单提交
    }

    // 如果用户名和密码都符合要求，允许表单提交
    return true;
}

{% endblock js %}